.list-group-item.active {
  background-color: #dcedf9; /* Scegli il colore di sfondo che preferisci */
  color: black;
  border-left: 5px solid green !important;
}

.list-group-item:hover {
  background-color: #ebebeb;
}
