body {
  background-color: #f4f2ee;
}

.profile-background {
  height: 150px;
  cursor: pointer;
}

.profile-picture {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 40px;
  left: 17%;
  transform: translateX(-50%);
  cursor: pointer;
}

.custom-link:hover {
  text-decoration: underline !important;
}

.custom-button-1:hover {
  background-color: #004182;
  border-color: #004182;
}

.custom-button-2:hover {
  background-color: #e4f0fe;
  border-color: #0d6efd;
  color: #0d6efd;
}

.custom-button-3:hover {
  background-color: #ebebeb;
  border-color: #6c757d;
  color: #6c757d;
}

.custom-buttons:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.secondary-navbar {
  top: 56px;
  z-index: 10;
  animation-fill-mode: forwards;
  display: block;
  transform: translateY(-100%);
}

.secondary-navbar.slide-in {
  animation: slideDown 0.9s ease forwards;
}

.secondary-navbar.slide-out {
  animation: slideUp 0.9s ease forwards;
}
